# Шаг 1. Импортируйте необходимые библиотеки

In [1]:
import pandas

# Шаг 2. Импортируйте набор данных с этого [адреса](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

In [2]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv'
data = pandas.read_csv(url)

# Шаг 3. Сохраните его в переменной с именем baby_names.

In [3]:
baby_names = data

# Шаг 4. Выведите первые 10 строк

In [4]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

# Шаг 5.  Удалить столбцы 'Unnamed: 0' и 'Id'.

In [5]:
baby_names_with_removed_columns = baby_names.drop(['Unnamed: 0', 'Id'], axis = 1)

# Шаг 6. В наборе данных больше женских или мужских имен?

In [6]:
baby_names_with_removed_columns.groupby(["Gender"]).size().reset_index()

  Gender       0
0      F  558846
1      M  457549

# Шаг 7.  Какое имя встречается чаще всего?

In [7]:
baby_names_with_removed_columns['Name'].value_counts().idxmax()

'Riley'

# Шаг 8.  Сколько разных имен есть в наборе данных?

In [8]:
baby_names_with_removed_columns['Name'].nunique()

17632